@import "../../../../styles.scss";
.header-container {
  @include header;
  align-items: center;
}

app-question-card {
  padding-top: 2rem;
  width: 250px;
  height: 300px;
}

.enter-button-container {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  column-gap: 5px;
}

.input-container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  row-gap: 5px;
  width: 250px;
}

.game-prep-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 25px;
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  padding: 10px;
  background-color: #ebedf2;
  cursor: pointer;
  border-radius: 5px;
  outline: none;
}

.end-game-button {
  margin-top: 25px;
}
