<div class="header-container">
  <h1>{{ gameStarted ? "Game On" : "Are you ready?" }}</h1>

  <div *ngIf="!gameStarted" class="game-prep-container">
    <p>Choose a category to play the game</p>
    <app-operators
      (operationChange)="getSelectedOperation($event)"
    ></app-operators>
    <button (click)="gameStarted = !gameStarted" type="button">
      Start Game!
    </button>
  </div>

  <div *ngIf="gameStarted" class="game-container">
    <button
      class="end-game-button"
      (click)="gameStarted = !gameStarted"
      type="button"
    >
      End Game!
    </button>
    <app-question-card
      [status]="cardStatus"
      [firstNumerator]="cardValues.firstNum"
      [secondNumerator]="cardValues.secondNum"
      [operation]="operation"
      [gameMode]="true"
      [userInput]="answer"
      [answer]="cardValues.answer"
    ></app-question-card>

    <div class="input-container">
      <app-number-select (numberInput)="userInput($event)"></app-number-select>
      <button (click)="deleteAnswer()" type="button">Delete</button>
    </div>

    <div class="enter-button-container">
      <button
        *ngIf="cardStatus !== 'correct'"
        (click)="onEnter()"
        type="button"
      >
        Enter
      </button>
      <button
        *ngIf="cardStatus === 'correct'"
        (click)="nextCard()"
        type="button"
      >
        Next
      </button>
    </div>
  </div>
</div>
