@import "../../../styles.scss";

.footer-container {
  background-color: $background-color;
  color: $paragraph;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  p {
    margin: 1rem;
    text-align: center;
  }
}
