@import "../../../styles.scss";

.header-container {
  padding: 1rem 0;
  background: $background-color;
  display: flex;
  justify-content: center;
  flex-direction: column;
  h1 {
    text-align: center;
    color: $headline;
    font-size: 3rem;
    margin-bottom: 0;
  }

  p {
    color: $paragraph;
    padding: 0 1rem;
    text-align: center;
  }
}
