<app-header></app-header>
<div class="card-container">
  <app-operators
    (operationChange)="getSelectedOperation($event)"
  ></app-operators>
  <p>Click on the card to see the answer</p>
  <button type="button" class="btn" (click)="getNewCards()">
    <fa-icon [icon]="faRedo"></fa-icon>
  </button>

  <app-flip-card [reset]="reset">
    <ng-template appFlipCardFront>
      <app-question-card
        [firstNumerator]="cardValues.firstNum"
        [secondNumerator]="cardValues.secondNum"
        [operation]="operation"
      ></app-question-card>
    </ng-template>
    <ng-template appFlipCardBack>
      <app-answer-card [answer]="cardValues.answer"></app-answer-card>
    </ng-template>
  </app-flip-card>
</div>
<app-footer></app-footer>
