@import "../../../styles.scss";

div.answer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 85px;
  font-weight: bold;
  background-color: $card-background;
  color: black;
  height: 100%;
  border-radius: 1rem;
}
