@import "../../../styles.scss";

.grid-container {
  padding: 3rem 0 1rem 0;
  display: flex;
  justify-content: center;
  background-color: $light-background;
  color: $card-paragraph;
  column-gap: 1rem;
  flex-direction: row;
  .grid-container-item {
    font-size: 60px;
    padding: 1rem;
    &:hover {
      cursor: pointer;
    }
    &.selected {
      background-color: $card-paragraph;
      color: $light-background;
    }
    &.disabled {
      opacity: 0.5;
      cursor: auto;
    }
  }
}

@media only screen and (max-width: 600px) {
  .grid-container {
    column-gap: 0.5rem;
    .grid-container-item {
      font-size: 50px;
      padding: 1rem;
    }
  }
}
