$background-color: #fff;
$headline: #12141a;
$paragraph: #12141a;
$button: #eebbc3;
$button-text: #232946;

$light-background: #fff;
$light-headline: #232946;
$card-background: #ebedf2;
$card-paragraph: #232946;

$tertiary: #eebbc3;
$stroke: #121629;

$router-link-font-size: 2.5rem;
html {
  height: 100%;
}

body {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
}
