$background-color: #fff;
$headline: #12141a;
$paragraph: #12141a;
$button: #eebbc3;
$button-text: #232946;

$light-background: #fff;
$light-headline: #232946;
$card-background: #ebedf2;
$card-paragraph: #232946;

$tertiary: #eebbc3;
$stroke: #121629;

$router-link-font-size: 2.5rem;
html {
  height: 100%;
}

body {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
}

@mixin header {
  padding: 1rem 0;
  background: $background-color;
  display: flex;
  justify-content: center;
  flex-direction: column;
  h1 {
    text-align: center;
    color: $headline;
    font-size: 3rem;
    margin-top: 0.5rem;
    margin-bottom: 0;
  }

  p {
    color: $paragraph;
    padding: 0 1rem;
    text-align: center;
  }
}
