@import "../../../styles.scss";
.nav-container {
  display: flex;
  justify-content: space-around;
  padding-top: 2rem;
  &--left {
    display: flex;
    column-gap: 1rem;
  }
  a {
    padding: 10px;
    text-decoration: none;
    color: $headline;
    font-size: $router-link-font-size;

    &.selected {
      background-color: $card-paragraph;
      color: $light-background;
    }
  }
}
